*{padding: 0; margin: 0; border: 0;}
*, *:before, *:after {box-sizing: border-box;}
a:focus, a:active{outline: none;}
html, body{height: 100%; width: 100%; font-size: 100%;font-family: 'Permanent Marker', cursive; }
input, button, textarea{font-family: 'Permanent Marker', cursive;}
input::-ms-clear{display: none}
button{cursor: pointer}
button::-moz-focus-inner{padding: 0; border: 0}
a, a:visited{text-decoration: none;}
ul, li{list-style: none}
img{vertical-align: top}
h1, h2, h3, h4, h5, h6{font-size: inherit}

body {
    overflow: hidden;
}

.TodoApp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1050px;
    background-image: url("./img/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.app__container {
    background-color: rgba(224, 255, 255, .4);
    border-radius: 10px;
    min-width: 600px;
    min-height:670px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.todo__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

